image {
	position: absolute;
	 }
p {
	position: absolute;
}

#cheerz {
	position: absolute;

}

#pola{

}
#mariage{

}

#svg1{

}

#imagediv{
}

#imagecheerz{
}

#emmabenoit{
}
#date{

}
